.how-go {
  padding: 80px 0 40px;
  background-color: var(--white);
  background-image: url("../img/how-go-stamp.png");
  background-position: 100% 52%;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width-only) {
    padding: 180px 0 160px;
    background-image:
      url("../img/bg-how-go.png"),
      url("../img/how-go-stamp-max.png");
    background-position: 2% 52%, 100% 52%;
    background-repeat: no-repeat;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    background-color: var(--black-0);
    display: grid;
    grid-template-columns: 1fr 472px 552px 1fr;
  }
}

.how-go__wrapper {
  max-width: 552px;
  margin-left: auto;
  display: grid;
  grid-template-columns: 16px 1fr 16px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 8px 1fr 16px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / -2;
  }
}

.how-go__title {
  margin: 0;
  text-align: center;
  grid-column: 2 / -2;

  @media (min-width: $tablet-width-only) {
    text-align: left;
  }
}

.how-go__text {
  margin: 0;
  padding: 24px 0;
  grid-column: 2 / -2;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  font-family: $font-fira-sans;
  color: var(--special-black);
  opacity: 0.87;
}

.how-go__text-big {
  grid-column: 2 / -2;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  font-family: $font-fira-sans;
  color: var(--special-black);
}

.how-go__list {
  margin: 24px 0 24px 10px;
  padding: 15px 0;
  list-style: none;
  counter-reset: list1;
  grid-column: 2 / -2;
  border-left: $border-dashed;
}

.how-go__item {
  height: 66px;
  margin-bottom: 26px;
  position: relative;
  padding-left: 34px;

  &::before {
    position: absolute;
    width: 36px;
    height: 36px;
    padding: 16px;
    top: calc(50% - 36px / 2);
    left: -18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 17px;
    line-height: 170%;
    font-family: $font-fira-sans;
    color: var(--yellow);
    counter-increment: list1;
    content: counter(list1) "";
    background: var(--white);
    box-shadow: $shadow-10;
  }

  &:first-child {
    margin-top: -30px;
  }

  &:last-child {
    margin-bottom: -30px;
  }
}

.how-go__item-text {
  height: 66px;
  margin: auto 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  display: flex;
  align-items: center;
  font-family: $font-fira-sans;
  color: var(--special-black);
  opacity: 0.87;
}

.how-go__else {
  margin: 24px 0 0;
  padding-left: 12px;
  grid-column: 2 / -2;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  display: flex;
  align-items: center;
  font-family: $font-fira-sans;
  color: var(--special-black);
  opacity: 0.5;
  border-left: $border-yellow;
}
