$tablet-width-only: 560px;
$tablet-width: 768px;
$desktop-width: 1042px;
$desktop-width-only: 1366px;

:root {
  --white: #ffffff;
  --black: #000000;
  --black-0: rgba(0, 0, 0, 0);
  --black-5: rgba(0, 0, 0, 0.05);
  --black-10: rgba(0, 0, 0, 0.1);
  --black-12: rgba(0, 0, 0, 0.12);
  --black-24: rgba(3, 3, 3, 0.24);
  --blue: #1fc0fc;
  --yellow: #ffc341;
  --gradient-active: #ffd701;
  --error: #ff0000;
  --special-black: #484848;
  --gray: #e3e3e3;
}

$grey-20: rgba(#484848, 0.2);

$gradient-active: linear-gradient(108.42deg, var(--yellow) 20.46%, var(--gradient-active) 65.31%);
$gradient-hover: linear-gradient(109.15deg, var(--yellow) -50.3%, var(--gradient-active) 63.1%);
$gradient-click:
  radial-gradient(150% 119.49% at 50% 50.85%, var(--black-0) 30.67%, var(--black-24) 100%),
  linear-gradient(109.15deg, var(--yellow) -50.3%, var(--gradient-active) 63.1%);

$shadow-5: 0 1px 4px var(--black-5);
$shadow-12: 0 1px 4px var(--black-12);
$shadow-text-12: 0 1.01117px 4.04469px var(--black-12);
$shadow-10: 0 3px 12px var(--black-10);

$font-fira-sans: "Fira Sans", "Arial", sans-serif;
$font-raleway: "Raleway", "Arial", sans-serif;
$font-montserrat: "Montserrat", "Arial", sans-serif;

$border-dashed: 1px dashed $grey-20;
$border-1: 1px solid $grey-20;
$border-yellow: 4px solid var(--yellow);
$border-yellow-2: 2px solid var(--yellow);
$border-0: 1px dashed var(--black-0);
$border-dashed: 1px dashed var(--special-black);
$border-2: 2px solid var(--gray);
$border-blue: 1px dashed var(--blue);
